a.blog_link {
  float: right;
}
div.container {
  display: flex;
  align-items: flex-start;
}
div.hero {
  margin-left: 30px;
  margin-right: 30px;
}
h1#title {
  display: none;
  margin-top: 20px;
  text-shadow: #666 2px -2px 4px;
  color: white;
  text-align: center;
}
span.name-span {
  font-weight: bold;
  font-size: 1.6em;
}
.card.header > p {
  margin-bottom: 10px;
}
.card.header {
  padding-bottom: 20px;
}
@media screen and (min-width: 880px) {
  div.hero > div.main {
    width: 800px;
  }
  div.base_header {
    width: 800px;
  }
}
@media screen and (max-width: 879px) {
  div.container {
    flex-direction: column;
  }
  div.hero, div.posts {
    margin-left: 30px;
    margin-right: 30px;
    align-self: stretch;
    max-width: none;
  }
  div.base_header {
  }
}
@media screen and (max-width: 660px) {
  .main.header > img {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    float: none;
  }
  .card.header > img {
    float: right;
    height: 240px;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: -15px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: inherit !important;
  }
}
p {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}
span.email {
  color: #555;
}
p:first-child {
  margin-top: 0px;
  
}
div.relative {
  position: relative;
}
.card.header > img {
  float: right;
  height: 240px;
  margin-left: 20px;
  margin-right: -10px;
  margin-top: 15px;
  background-color: white;
}
.card-name {
  margin-top: 0;
}
p.text, .text > p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.excerpt {
  margin-top: 6pt;
  margin-bottom: 6pt;
}
div.attribution {
  font-size: 0.75em;
  border-bottom: none;
}

ul.blog > li.post > div.title {
  font-weight: bold;
}

div.main.activity {
  display: none;
}

div.main > h3 {
  margin-top: 20px;
  padding-bottom: 10px;
}

div.main > h3:first-child {
  margin-top: 0px;
}

div.main > h3.small-h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 100%;
}

.horizontal-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: -10px;
}

.resume-year {
}

li {
  list-style-type: none;
}

ul.resume > li {
  margin-top: 20px;
}

ul.resume > li:first-child {
  margin-top: 0px;
}

.resume-location {
  font-style: italic;
}

span.comment {
  font-size: 80%;
}

.paper-title {
  font-weight: bold;
}

ul.ul-service > li {
  line-height: 1.8em;
}

ul.awards > li:first-child {
  margin-top: 0px;
}

ul.awards > li {
  margin-top: 5px;
}

p.student-blurb {
  margin-bottom: 20px;
}

span.student-name {
  font-weight: bold;
}

span.student-date:after, span.student-affiliation:after  {
  content: " —";
}

span.student-event {
  font-style: italic;
}

span.highlight, a.highlight {
  font-weight: bold;
  background: linear-gradient(90deg, #260, #060, #070, #062);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

span.highlight-2 {
  font-weight: bold;
  background: linear-gradient(90deg, #006, #226, #006);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.ad {
  border: 1px solid black;
  padding: 4px;
  margin-left: -4px;
  background-color: #ffff88;
}
