div.container {
  display: flex;
  align-items: flex-start;
}
h1#title {
  display: none;
  margin-top: 20px;
  text-shadow: #666 2px -2px 4px;
  color: white;
  text-align: center;
}
span.name-span {
  font-weight: bold;
}
@media screen and (min-width: 1290px) {
  div.hero > div.main {
    width: 500px;
  }
}
@media screen and (max-width: 1290px) {
  img.systemslogo {
    display: none;
  }
}
@media screen and (max-width: 1290px) and (min-width: 800px) {
  div.hero {
    margin-left: 30px;
    flex-basis: 0;
    flex-grow: 1;
  }
  div.posts {
    flex-basis: 0;
  }
}
@media screen and (max-width: 800px) {
  div.container {
    flex-direction: column;
  }
  div.hero, div.posts {
    margin-left: 30px;
    margin-right: 30px;
    align-self: stretch;
    max-width: none;
  }
}
@media screen and (max-width: 660px) {
  .main.header > img {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    float: none;
  }
}
p {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}
span.email {
  color: #555;
}
p:first-child {
  margin-top: 0px;
  
}
div.relative {
  position: relative;
}
img.systemslogo {
  /* position: absolute; */
  width: 150px;
  /* height: 150px; */
  margin: 30px;
  top: 20px;
  left: 20px;

}
.card.header > img {
  float: right;
  height: 180px;
  padding-left: 20px;
  margin-right: -10px;
  margin-top: -30px;
}
.card-name {
}
p.text {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
div.attribution {
  font-size: 0.75em;
  border-bottom: none;
}

ul.blog > li.post > div.title {
  font-weight: bold;
}

div.main.activity {
  display: none;
}

div.main > h3 {
  margin-top: 20px;
  padding-bottom: 10px;
}

div.main > h3:first-child {
  margin-top: 0px;
}

div.main > h3.small-h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 100%;
}

.resume-year {
  font-weight: bold;
}

li {
  list-style-type: none;
}

ul.resume > li {
  margin-top: 20px;
}

ul.resume > li:first-child {
  margin-top: 0px;
}

.resume-location {
  font-style: italic;
}

span.comment {
  font-size: 80%;
}

.paper-title {
}

.twitter-activity,
.stackoverflow-activity {
  margin-top: 15px;
}

.github-activity li,
.twitter-activity li,
.stackoverflow-activity li {
  font-size: 0.8em;
  line-height: 1em;
  padding: 5px 0px 5px 22px;
  background-repeat: no-repeat;
  background-position: left center;
}

.github-activity .date,
.stackoverflow-activity .date {
  font-size: 0.78em;
}
