---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Andrea Lattuada</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href={{ site.baseurl }}{% link css/base.css %} />
    <link rel="stylesheet" type="text/css" href={{ site.baseurl }}{% link css/index.css %} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <style>
      div.container {
        display: block;
      }
      @media screen and (min-width: 800px) {
        div.container div.posts {
          margin-left: 60px;
          margin-right: auto;
        }
        div.base_header {
          max-width: 580px;
          margin-left: 60px;
          margin-right: auto;
          padding-left: 10px;
        }
        div.posts {
          max-width: 600px;
        }
      }
    </style>
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="posts">
        {% for post in site.posts %}
        <div class="main relative card header">
          <a href={{ post.url | prepend:site.baseurl }}><h2>{{ post.title }}</h2></a>
          {{ post.date | date_to_long_string }}
          <p class="excerpt">{{ post.excerpt }}</p>
          <a href={{ post.url | prepend:site.baseurl }}>Continue reading</a>
        </div>
        {% endfor %}
      </div>
    </div>

  </body>
</html>
