* { margin: 0; padding: 0;}

body, html { height:100%; }


body {
/*  background-color: #222; */
  padding-top: 20px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1#title {
  display: none;
  margin-top: 20px;
  text-shadow: #666 2px -2px 4px;
  color: white;
  text-align: center;
}
div.main {
  /* -moz-box-shadow: inset 1px -1px 8px #666; */
  /* -webkit-box-shadow: inset 1px -1px 8px #666; */
  /* box-shadow: inset 1px -1px 8px #666; */
  background-color: white;
  padding: 30px 10px 30px 10px;
  margin: 0px auto;
  color: #555;
  width: 400px;
  border-bottom: 1px solid #999;
}
div.main:first-child {
  border-top: 1px solid #999;
}
p {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}
p:first-child {
  margin-top: 0px;
  
}
div.relative {
  position: relative;
}
div.attribution {
  font-size: 0.75em;
  border-bottom: none;
}
div.profiles {
  position: absolute;
  top: 5px;
  right: 10px;
}
div.profiles {
  margin: 0;
  padding: 0;
  line-height: 0;
}
div.profiles a {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
div.profiles a {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border: solid 1px #999;
  margin: 0;
  height: 50px;
  width: 50px;
}
div.profiles a.twitter {
  background-image: url('twitter.png');
}
div.profiles a.github {
  background-image: url('blacktocat.png');
  background-size: 95%;
}

div.main > h3 {
  margin-top: 20px;
}

div.main > h3:first-child {
  margin-top: 0px;
}

div.resume-year {
  font-weight: bold;
}

div.projects > p {
  margin-top: 8px;
}

li {
  list-style-type: none;
}

ul.resume > li {
  margin-top: 20px;
}

ul.resume > li:first-child {
  margin-top: 0px;
}

span.resume-location {
  font-style: italic;
}

span.comment {
  font-size: 80%;
}

/* div.blog-preview { */
/*   margin-top: 10px; */
/*   text-align: justify; */
/*   font-size: 0.8em; */
/* } */
.github-activity,
.twitter-activity {
  margin-top: 15px;
  display: none;
}

.github-activity li,
.twitter-activity li {
  font-size: 0.8em;
  line-height: 1em;
  padding: 5px 0px 5px 22px;
  background-repeat: no-repeat;
  background-position: left center;
}

.github-activity .date {
  font-size: 0.78em;
}
